body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ded397;
}

.header {
    background: linear-gradient(to bottom right, #bfd255, #8eb92a);
    padding: 40px;
    text-align: center;
}

.header h1 {
    margin: 0;
    color: #333;
}

.header p {
    color: #333;
}

.nav {
    background-color: #f4f1d8;
    overflow: hidden;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

.nav a {
    float: left;
    display: block;
    color: #333;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.container {
    display: flex;
    margin: 20px;
}

.sidebar {
    width: 20%;
    background-color: #f4f1d8;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h3 {
    background-color: #c5cf59;
    padding: 10px;
    margin: 0 0 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}

.content {
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f4f1d8;
}

.content-section {
    margin-bottom: 20px;
}

.content-section h2 {
    margin-top: 0;
}

.box-container {
    display: flex;
    justify-content: space-between;
}

.box {
    width: 30%;
    background-color: #f4f1d8;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}

.read-more {
    background-color: #b4cd4d;
    color: #333;
    padding: 10px;
    text-align: center;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.footer {
    background-color: #b4cd4d;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}